body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    
}
#app {
    max-width: 800px;
    margin: 2em auto;
    background: #fff;
    box-shadow: 0 0 27px rgba(0,0,0,0.1);
    padding: 1em 2em;
}
* {
    box-sizing: border-box;
}
/* Links */
a {
    color: dodgerblue;
    text-decoration: none;
}
/* Forms */
label {
    display: block;
    font-weight: bold;
    margin: .5em 0 .2em;
}
input[type=text] {
    line-height: 2em;
    min-width: 320px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0 .5em;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}
/* tiplist */
.tip-list-item {
    border-bottom: 1px solid #eee;
    padding: 1em 0;
}
.tip-content {
    position: relative;
}
.tip-list-item h3 {
    margin: 0 0 .2em;
    font-size: 1em;
}
/* Buttons */
.button__container {
    margin-top: .5em;
    display: inline-block;
}
.button {
    border: 1px solid rgba(0,0,0,0.1);
    padding: 5px 20px;
    border-radius: 2px;
    font-size: .8em;
}
.button-primary {
    background: dodgerblue;
    color: #fff;
}
.timestamp {
    position: absolute;
    top: 0;
    right: 0;
}
.timestamp-read {
    position: absolute;
    bottom: 0;
    right: 0;
}